@import "@teachedo/theme/index.css";

@source "../../../../packages/ui/src/**/*.{js,ts,jsx,tsx}";

body {
  min-height: 100vh;
  margin: 0;
  font-family: 'Tajawal', sans-serif;
  /* color: var(--color-foreground, #212121); */
  direction: rtl;
}